box_data/training/images/*
box_data/testing/images/*

drive_data/testing/2011_09_26_drive_0005_sync/image_00/*
drive_data/testing/2011_09_26_drive_0005_sync/image_01/*
drive_data/testing/2011_09_26_drive_0005_sync/image_02/*
drive_data/testing/2011_09_26_drive_0005_sync/image_03/*
drive_data/testing/2011_09_26_drive_0005_sync/velodyne_points/*

drive_data/testing/2011_09_26_drive_0059_sync/image_00/*
drive_data/testing/2011_09_26_drive_0059_sync/image_01/*
drive_data/testing/2011_09_26_drive_0059_sync/image_02/*
drive_data/testing/2011_09_26_drive_0059_sync/image_03/*
drive_data/testing/2011_09_26_drive_0059_sync/velodyne_points/*

drive_data/training/2011_09_26_drive_0001_sync/image_00/*
drive_data/training/2011_09_26_drive_0001_sync/image_01/*
drive_data/training/2011_09_26_drive_0001_sync/image_02/*
drive_data/training/2011_09_26_drive_0001_sync/image_03/*
drive_data/testing/2011_09_26_drive_0001_sync/velodyne_points/*

drive_data/training/2011_09_26_drive_0002_sync/image_00/*
drive_data/training/2011_09_26_drive_0002_sync/image_01/*
drive_data/training/2011_09_26_drive_0002_sync/image_02/*
drive_data/training/2011_09_26_drive_0002_sync/image_03/*
drive_data/testing/2011_09_26_drive_0002_sync/velodyne_points/*

drive_data/training/2011_09_26_drive_0017_sync/image_00/*
drive_data/training/2011_09_26_drive_0017_sync/image_01/*
drive_data/training/2011_09_26_drive_0017_sync/image_02/*
drive_data/training/2011_09_26_drive_0017_sync/image_03/*
drive_data/testing/2011_09_26_drive_0017_sync/velodyne_points/*

drive_data/training/2011_09_26_drive_0018_sync/image_00/*
drive_data/training/2011_09_26_drive_0018_sync/image_01/*
drive_data/training/2011_09_26_drive_0018_sync/image_02/*
drive_data/training/2011_09_26_drive_0018_sync/image_03/*
drive_data/testing/2011_09_26_drive_0018_sync/velodyne_points/*

drive_data/training/2011_09_26_drive_0057_sync/image_00/*
drive_data/training/2011_09_26_drive_0057_sync/image_01/*
drive_data/training/2011_09_26_drive_0057_sync/image_02/*
drive_data/training/2011_09_26_drive_0057_sync/image_03/*
drive_data/testing/2011_09_26_drive_0057_sync/velodyne_points/*

drive_data/training/2011_09_26_drive_0059_sync/image_00/*
drive_data/training/2011_09_26_drive_0059_sync/image_01/*
drive_data/training/2011_09_26_drive_0059_sync/image_02/*
drive_data/training/2011_09_26_drive_0059_sync/image_03/*
drive_data/testing/2011_09_26_drive_0059_sync/velodyne_points/*