*.DS_Store
*.ipynb_checkpoints/

box_data/training/images/*
box_data/testing/images/*

/drive_data/testing/*/image_00/*
/drive_data/testing/*/image_01/*
/drive_data/testing/*/image_02/*
/drive_data/testing/*/image_03/*
/drive_data/testing/*/velodyne_points/*

/drive_data/training/*/image_00/*
/drive_data/training/*/image_01/*
/drive_data/training/*/image_02/*
/drive_data/training/*/image_03/*
/drive_data/training/*/velodyne_points/*
